html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strong,sub,sup,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	margin:0;
	padding:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block
}
body {
	line-height:1
}
ol,ul {
	list-style:none
}
blockquote,q {
	quotes:none
}
blockquote:before,blockquote:after,q:before,q:after {
	content:none
}
table {
	border-collapse:collapse;
	border-spacing:0
}
img {
	vertical-align:middle
}
a,object,embed,textarea:focus,input:focus {
	outline:0
}
a,object,embed,textarea:focus,input:focus {
	outline:0
}
html,body {
	 background: #fff url(https://lh3.googleusercontent.com/cM-kT0yDxyaC0d08-edj7oLnbxo7J0EHQEqVRAE1gtA=w1-h300-no) repeat-x;
		color:#111;
	font:400 14px/24px 'open sans';
	line-height:1.4
}
.out {
	width:1000px;
	max-width:95%;
	margin:-6px auto
}
a:link,a:visited,a:active {
	text-decoration:none;
	color: #4E5066;
}
a:hover {
	cursor:pointer
}
a.x {
	padding:0 14px 0 0;
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAEQhAABEIQFt3aGiAAABg0lEQVQYlTXNPavaYBQA4JOTOBgN9xJRKc1Ql6BISQJ3culiQbFjF4f+gUJdBIWCi051u/ixWHC83B9QHItgcekWcZBUKlzBIcNbGpQSz3u6tMMzPwoRISJKKaWKiDQYDD7N5/NONpslIlKZGRKJhNAQUYZhaEZRdHO5XFLtdvujEOLZYrF4l06nSUqpxnF8i9PptFOr1Z4ajcZ+NBp1j8fj88Ph4GmaBgAAiEiKooBi2zb1er339Xr9UQhhtlqtL0EQFE3TpPP5jHEcK4ZhEOq6jp7nfc9kMqLf79/vdrtiPp8/CyFUy7I21Wr1IQxDVQMAICIVAKBSqXxdrVZvTqeTblnWz+Fw+LZQKPzI5XJP4Lou+75/x8zAzDCZTNrNZvPbZrMpdrvdz77vv2RmAMdxeLvdeswMRIREhMwMQRC8KJVKv/f7fYGZQbter3+Wy+XrZDIZRVF0I6XEVCoVrdfrV7quk2EYvwAAYDabfSiXy+Q4Dv/nuq60bZvH43Hn36T+BYsUyXDlgEVtAAAAAElFTkSuQmCC") center right no-repeat
}
#top {
	border-top:solid .3em #3a3636
}
#tabs {
	float:right;
	font-size:.8em
}
#tabs li {
	display:inline;
	padding:3px 6px;
	background-color:#3a3636;
	border-radius:0 0 6px 6px
}
#tabs li a:link,#tabs li a:visited,#tabs li a:active {
	color:#fff
}
header {
	display:table;
	width:100%;
	padding-top:1em;
	clear:both
}
header div {
	display:table-cell
}
nav {
	text-align:right;
}
nav li {
	 display:inline-block;
}
nav a:link,nav a:visited,nav a:active {
	display:inline-block;
	padding:.4em 1.2em;
	border-bottom:solid .2em transparent;
	color:#000;
	font-size:1em;
	text-decoration:none
}
nav a:hover {
	border-bottom:solid .2em #ABABAB
}
nav a.active {
	border-bottom:solid .2em #3a3636
}
nav a:link,nav a:visited,nav a:active,nav a:hover {
	transition:border-bottom .2s
}
.toc {
	font-size:14px;
	list-style:none;
	border-bottom:dotted grey;
	border-width:1px;
	line-height:1.833;
	padding:0;
	max-width:62%;
	margin:2em 0 2em 0;
}
.toc li {
	border-top:dotted grey;
	border-width:1px;
	padding:0.0833em 0 0.0833em 0;
}
.toc a {
	display:block;
	text-decoration:none;
}
.toc a:hover {
	display:block;
	background-color:#f0f0f4;
	text-decoration:underline;
}
.toc dt {
	margin:0;
	border-top:dotted grey;
	border-width:1px;
	padding:0.0833em 0 0.0833em 0;
}
#content .page {
	display:none
}
#content .page.active {
	display:block
}
footer {
	margin-top:3em;
	padding:1em 0;
	border-top:solid 1px #DDD
}
h1 {
	font-size:18px;
	display:inline;
	vertical-align:middle
}
h2 {

	margin-bottom:1em;
	padding-left:15px;
	color:#222C28
}
h1 a:link,h1 a:visited,h1 a:active,h2 a:link {
	font:28px/1 "open sans";
	color:#355A80;
	text-decoration:none
}
.link {
	font:24px/1 "open sans";
	color:#355A80;
	text-decoration:none
}
ul.disc {
	padding-left:2em;
	list-style:disc outside
}
small {
	font-size:.8em;
	color:#999
}
strong {
	font-weight:bold
}
abbr {
	border-bottom:.1em dotted;
	cursor:help
}
.block {
	padding-top:3em
}
img.browser {
	max-height:44em;
	max-width:44em;
}
img.main {
	max-height:72em;
	max-width:72em;
}
img.browser:hover {
}
.os {
	display:table;
	width:100%;
	table-layout:auto
}
div.os p {
	margin-bottom:3em;
	vertical-align:top;
	text-align:left;
	padding-right:10px;
}
.button a:link,.button a:visited,.button a:active {
	border-radius:0.188rem;
	display:block;
	padding:.6em .8em;
	margin:.5em;
	width:14em;
	text-align:center;
	background-color:#355A80;
	text-decoration:none;
	color:#FFF;
	text-shadow:0 1px 0 #333
}
.button a:hover {
	background-color:#006EC2;
}

btn{
	font-size:20px;
	padding:.1em .4em;
	margin:.3em;
	border-top:solid .3em #EBEBEB
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius:0.188rem;
	background-color: #355A80;
}
select {
	display:inline-block;
	font:1em;
	background-color:#3a3636;
	color:#fff;
	border:0px;
}
.translate {
	background-color:#ff9;
	padding:1em
}
@media(min-width:1000px) {
	nav {
		margin-top:-3em;
	}
	aside {
	display:table-cell;
	}
	div.os p {
			display:table-cell
	}
	div.os p:first-child {

			padding-right:30px;
	}
	
	

	
}
@media(min-width:640px) and (max-width:999px) {
	div.os p:first-child {
			display:table-cell;
			width:360px
	}
	img.browser {
			width:100%;
			height:100%
			transition: all;
	}
	img.main {
			width:100%;
			height:100%
			transition: all;
	}
	
	
.merchpod {
	max-width:800px;
	position:relative;
	font-size:1rem;
	line-height:1.5;
	height:99.9%;
	background-color:inherit;
}
	
}
@media(max-width:639px) {
	html,body {
			font-size:100%
	}
	div.os p {
			display:block
	}
	img.browser {
			width:100%;
			height:100%
	}
	img.main {
			width:100%;
			height:100%
	}
	header,#logo,nav {
			display:block;
			text-align:center
	}
	#logo {
			margin-bottom:1em
	}
	.button a:link,.button a:visited,.button a:active {
			padding:.6em 0;
			width:100%;
			box-sizing:border-box
	}
	
	.merchpod {
	max-width:330px;
	position:relative;
	font-size:1rem;

	line-height:1.5;
	height:99.9%;
	background-color:inherit;
}
	
}
.homeImageLink {
	position:absolute;
	top:25%;
	left:0;
	text-align:center;
	width:100%;
}
.homeImageLink span {
	color:#fff;
	font: 40px/1 'open sans';
	text-transform:uppercase;
	letter-spacing:15px;
	pointer-events:none;
}
.img-container {
	position:relative;
}
.compact {
	border-left-width:26px;
	border-left-color:transparent;
	border-left-style:solid;
	border-right-width:26px;
	border-right-color:transparent;
	border-right-style:solid;
	margin:0px auto;
	max-width:1000px;
}
#main {
	color:#777;
}
#main a:hover {
	color:#006EC2;
}
#marquee {
	margin:50px auto;
	position:relative;
}
section {
	display:block;
}
#marquee h1 {

	margin:0px 0px 0.3em;
}
.app-benefits .mobile-desktop {
	font-color:#777;
	visibility:hidden;
}
.cryptia .app-benefits .mobile-desktop {
	visibility:visible;
}
.app-benefits .mobile-ios,.app-benefits .mobile-android,.app-benefits .mobile-only {
	display:none;
}
.app-benefits {
	text-align:center;
}
.app-benefits h1 {
	font-size:2.4em;
}
.app-benefits h2 {
	font-size:2em;
	margin:1em 0px;
}
.app-benefits section {
	margin:0px 0px 10px;
}
.app-benefits section::after {
	clear:both;
	content:".";
	display:block;
	height:0px;
	visibility:hidden;
}
.app-benefits p {
	margin:10px 1%;
}
.app-benefits img {
	margin:50px auto;
	max-width:100%;
}
.app-benefits img.empty-area {
	margin-bottom:0px;
}
.app-benefits .g-tpl-nest .empty-area {
	margin-top:0px;
}
.app-benefits h2+img {
	margin-top:20px;
}
.app-benefits #marquee {
	margin-bottom:60px;
	margin-top:0px;
	padding-top:70px;
	text-align:center;
}
.cryptia .app-benefits .cryptia-promo {
	padding-top:0px;
}
.app-benefits .cryptia-promo {
	text-align:left;
}
.app-benefits .cryptia-promo p {
	margin:10px 0px 20px;
	width:100%;
}
.app-benefits .cryptia-promo h2 {
	margin:0px;
}
.app-benefits .pick-up .section-hero {
	max-width:1000px;
}
.app-benefits .get-cryptia .section-hero {
	max-width:1000px;
}
.app-mobile-index .get-cryptia .section-hero {
	max-width:1000px;
}
.app-benefits .browse-faster .section-hero {
	max-width:1000px;
}
.app-benefits .experience-best .section-hero {
	max-width:1000px;
}
.app-benefits .save-data .section-hero {
	max-width:1000px;
}
.app-benefits .app-promo {
	font:400 14px/24px 'open sans';
}
.app-benefits .cryptia-promo .app-promo {
	font-size:16px;
}
.g-unit {
	zoom:1;
}
.g-tpl-nest .g-unit {
	float:left;
	width:auto;
	display:inline;
	margin:0px;
}
.g-unit.g-col-5 {
	width:41.666%;
}
.g-unit.g-col-6 {
	width:49.999%;
}
.g-unit.g-col-7 {
	width:58.333%;
}
#preloader {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#000;
	z-index:99;
}
#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%;
	top:50%;
	background-image:url(./img/status.gif);
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px;
}
.glow {
	color:#fff;
	font:300 20px/1 'open sans';
	text-shadow:0 0 5px #fff,0 0 10px #C4C4C4,0 0 15px #fff,0 0 20px #C4C4C4;
}
.sample {
	margin:30px;
	border:1px solid #92cdec;
	background:#d7e7ff;
	padding:30px 30px 0 30px
}
}
 p,dl {
font-size:1.2em;
line-height:170%;
margin-bottom:20px
}
 dl,dt,dd {
padding:0;
margin:0
}
.faqs {
padding-top:20px
}
.faqs dt {
font-weight:bold;
padding:3px 0 15px 30px;
position:relative;
}
.faqs dt:hover {
cursor:pointer
}
.faqs dd {
padding:0 0 5px 30px;
position:relative;
}
.faqs .hover {
}

.bqstart {
     float: left;
     height: 45px;
	 margin-left: 0px;
     margin-top: -40px;
     font-size: 700%;
     color: #999;
 }

.bqend {
     float: left;
     height: 25px;
	 margin-left: 340px;
     margin-top: -80px;
     font-size: 700%;
     color: #999;
 }


#owl-demo .item{
    margin: 3px;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

#owl-demo2 .item{
    margin: 3px;
}
#owl-demo2 .item img{
    display: block;
    width: 100%;
    height: auto;
}
/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel2 .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel2{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel2 .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel2 .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel2 .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel2 .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel2  .owl-wrapper,
.owl-carousel2  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(https://lh3.googleusercontent.com/66EFZqhjP2nJyi4gCIYYbRBmqNJn5Vo2eOho0aTIc2E=s32-no) no-repeat center center
}







.text-price {
	word-wrap:break-word;
}
a {
	cursor:pointer;
}
.grid-container::after,.grid-row,.grid-row::after,.btn {
	clear:both;
}
a,aside,body,div,h3,li,p,span,ul {
	margin:0px;
	padding:0px;
	border:0px;
	font-style:inherit;
	font-variant:inherit;
	font-weight:inherit;
	font-stretch:inherit;
	font-size:inherit;
	line-height:inherit;
	font-family:inherit;
	vertical-align:baseline;
}
a {
	color: #FFF;
}
p {
	margin-bottom:2px;
}
.grid-container::after,.grid-container::before,.grid-row::after,.grid-row::before {
	content:"";
	display:table;
}
.grid-container,body {
	position:relative;
}
p {
	font-size:16px;
	line-height:21px;
}
h3 {
	font-style:normal;

	font-size:18px;
	line-height:2.0625rem;
	margin-top:0.0895682em;
	margin-bottom:0.0895682em;
}
h4 {
	padding-right:28px;
	padding-bottom:10px;
	width:340px;
	margin-left: 40px;
	font-style:normal;
	font-weight:500;
	font-size:32px;
	line-height:2.0625rem;
	margin-top:64px;
	margin-bottom:0.0895682em;
}
p {
	font-size:14px;
	line-height:1.3125rem;
}
.text-light {
	font-style:normal;
}
ul {
	margin:1ex 0px 2ex 1rem;
}
ul {
	list-style:disc;
}
[class*="grid-cols"] {
	float:left;
	min-width:0.75rem;
	padding-left:1rem;
	padding-right:1rem;
	position:relative;
}
.grid-container {
	padding-right:1rem;
	padding-left:1rem;
	margin-left:auto;
	margin-right:auto;
}
.grid-row {
	margin-left:-1rem;
	margin-right:-1rem;
}
.grid-cols-14 {
	width:87.5%;
}
.grid-offset-1 {
	margin-left:6.25%;
}
.grid-padded-b2x {
	padding-bottom:2ex;
}
.grid-padded-t4x {
	padding-top:4ex;
}
.text-price {
	font-style:normal;
}
.text-price {
	color:#666;
	display:inline;
}

.Lobby {
	color:#000;
}

.merchpod li,.merchpod ul {
	display:flex;
	-webkit-box-flex:1;
	flex:1 1 0%;
	height:auto;
	list-style:none;
	padding:0px;
}
.merchpod li::after,.merchpod li::before,.merchpod ul::after,.merchpod ul::before {
	display:none;
}
.merchpod ul {
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	flex-direction:row;
	-webkit-box-pack:justify;
	justify-content:space-between;
	-webkit-box-align:stretch;
	align-items:stretch;
	align-content:stretch;
	margin-top:0px;
	margin-bottom:0px;
}
.merchpod ul li {
	margin:1em;
	position:relative;
}
.merchpod ul li:not(.group) {
	align-content:center;
	-webkit-box-align:center;
	align-items:center;
	border:1px solid #a1a1b0;
	border-radius:1ex;
	box-sizing:border-box;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	flex-direction:column;
	-webkit-box-pack:center;
	justify-content:center;
	padding:3ex 1em;
	text-align:center;
}
.merchpod ul li p {
	font-size:16px;
}

.merchpod-price {
	font-size:2.25rem;
	line-height:2.3rem;
	margin-top:1ex;
}
.merchpod-price.above-cta {
	display:block;
}
.merchpod-price .price {

}
.merchpod-price .pricesuffix {
	font-size:1.1rem;
	vertical-align:middle;
}
.merchpod-price [data-seed-price=""] ~ span {
	display:inline-block;
}
.merchpod-price [data-seed-price=""] ~ .pricesuffix {
	display:none;
}








.purchase-description {
  display:block;
  font-size:19px;
  line-height:30px;
}
.purchase-price {
  font-size:32px;
  letter-spacing:2px;
  padding-top:20px;
  display:block;
  padding-bottom:12px;
}

input.styled {
    font-size: 24px;
}

input[type=text] {
    height: 28px;
	width: 200px
    }



.step {
	font-size: 22px;
}

.merchpod-cta-button {
	font-size: 24px;
}

.overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.85);
  cursor: pointer;

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.overlay .modal {
  cursor: auto;
  position: absolute;
  z-index: 11;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 600px;
  max-height: 130px;
  padding: 20px;
  background-color: rgb(255,255,255);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.overlay.shown {
  opacity: 1;
}



.cancel {
  float:right;
}



/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;

  padding:5px;
  width: 96%;
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;
  background:#3a3636;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font:18px/1 "open sans";
  padding:14px;
  text-align:left;
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;

  font-size:16px;
  font-weight:normal;
}
 
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 


tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-size:16px;
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
